<!doctype html>

<html>
<head>
	<title>Coupon Main Sort</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

    <script src="/js/a5.js"></script>
	<script src="/js/coupon.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
</head>

<body>
	<div style="border:none; padding:none; margin:none;">
	
		{{#each coupons}}
		<div class="coupons" id="{{product}}">
			<img class="img-responsive img-rounded" src="{{imageURL}}">
			<a class="link" href="#" ><h3>{{product}}</h3></a>
			<p>{{brand}}</p>
			<p>{{Deal}}</p>
		</div>
		<hr>
		{{/each}}

	</div>
</body>
</html>